h1, h2 {
    text-align: center;
}

#movementButtons {
	display: none;
}

.gmTip {
	font-style: italic;
}

body {
	font-family: sans-serif;
}

select {
    width: 100%;
    -webkit-appearance: menulist-button;
    height: 60px;
    font-size: 12pt;
} 

button {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-size: 14pt;
}

input[type="text"] {
    width: 100%;
    height: 60px;
    font-size: 12pt;
} 

#actionsTable td {
	width: 120px;
}

#tblPlayersInfo, #tblDungeonInfo {
    width: 100%;
    margin-bottom: 10px;
}

#tblPlayersInfo td{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.txtSingleNumber {
    width: 60px !important;
    text-align: center;
}

#inGame {
    display: none;
}

#actionsTable {
    width: 100%;
}

#playersActionSelection {
    display: none;
}

#partyMembersSection div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bodypartHitSelection {
    display: none;   
}

#wrapper {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}