h1, h2 {
    text-align: center;
}

#movementButtons {
	display: none;
}

.gmTip {
	font-style: italic;
}

body {
	font-family: sans-serif;
}

select {
    width: 100%;
    -webkit-appearance: menulist-button;
    height: 60px;
    font-size: 12pt;
} 

button {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-size: 14pt;
}

input[type="text"] {
    width: 100%;
    height: 60px;
    font-size: 12pt;
} 

#actionsTable td {
	width: 120px;
}

#tblPlayersInfo, #tblDungeonInfo {
    width: 100%;
    margin-bottom: 10px;
}

#tblPlayersInfo td{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

#tblPlayersInfo button{
    margin-bottom: 0px !important;
}

.txtSingleNumber {
    width: 60px !important;
    text-align: center;
}

#inGame, #newGame {
    display: none;
}

#actionsTable {
    width: 100%;
}

#playersActionSelection {
    display: none;
}

#partyMembersSection div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bodypartHitSelection {
    display: none;   
}

#wrapper {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

#titleSection{
    text-align: center;
}

.playerStatusDiv{
    width: 80px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

#playersStatusSection{
    height: 100px;
    margin-left: 20px;
}